body {
  margin: 0;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background:
    radial-gradient(circle at top left,
      #b7f3ff,
      transparent 35%),
    radial-gradient(circle at bottom right,
      #d8b4ff,
      transparent 35%),
    linear-gradient(
      135deg,
      #0f172a,
      #1e293b,
      #312e81
    );

  font-family: Inter, sans-serif;
}

.app {
  width: 100%;
  display: flex;
  justify-content: center;
}

.glass-card {
  width: 800px;
  padding: 40px;

  border-radius: 32px;

  backdrop-filter: blur(18px);

  background: rgba(255,255,255,0.08);

  border: 1px solid rgba(255,255,255,0.15);

  box-shadow:
    0 0 40px rgba(168,85,247,0.25),
    0 0 80px rgba(34,211,238,0.15);

  color: white;
}

.glass-card h1 {
  font-size: 4rem;
  text-align: center;

  background: linear-gradient(
    90deg,
    #67e8f9,
    #c084fc,
    #f9a8d4
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.dashboard {
  margin-top: 30px;
  padding: 20px;

  border-radius: 20px;

  background: rgba(255,255,255,0.05);
}